.clouds{
	position:absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: #68adf2;
	color: #2c3e50;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.cloud{
	width: 22.5em;
	height: 7.5em;
	background: #f2f9fe;
	-moz-border-radius: 6.25em;
	-webkit-border-radius: 6.25em;
	border-radius: 6.25em;
	position: relative;
	margin: 7.5em auto 1.25em;
}
.cloud:after, .cloud:before{
	content: "";
	position: absolute;
	background: #f2f9fe;
	z-index: -1;
	border-radius: 50%;
}
.cloud:after{
	width: 7.5em;
	height: 7.5em;
	top: -3.125em;
	left: 3.125em;
}
.cloud:before{
	width: 11.25em;
	height: 11.25em;
	top: -5.625em;
	right: 3.125em;
}
.cloud.s1{
	-moz-transform: scale(0.9, 0.9);
	-ms-transform: scale(0.9, 0.9);
	-webkit-transform: scale(0.9, 0.9);
	transform: scale(0.9, 0.9);
	-webkit-animation: moveclouds 30s linear infinite;
	-moz-animation: moveclouds 30s linear infinite;
	-o-animation: moveclouds 10s linear infinite;
}
.cloud.s2{
	left: 12.5em;
	-moz-transform: scale(0.7, 0.7);
	-ms-transform: scale(0.7, 0.7);
	-webkit-transform: scale(0.7, 0.7);
	transform: scale(0.7, 0.7);
	-webkit-animation: moveclouds 50s linear infinite;
	-moz-animation: moveclouds 50s linear infinite;
	-o-animation: moveclouds 5s linear infinte;
}
.cloud.s3{
	left: -15.625em;
	top: -12.5em;
	-moz-transform: scale(0.4, 0.4);
	-ms-transform: scale(0.4, 0.4);
	-webkit-transform: scale(0.4, 0.4);
	transform: scale(0.4, 0.4);
	-webkit-animation: moveclouds 40s linear infinite;
	-moz-animation: moveclouds 40s linear infinite;
	-o-animation: moveclouds 40s linear infinite;
}
.cloud.s4{
	left: 29.375em;
	-moz-transform: scale(0.5, 0.5);
	-ms-transform: scale(0.5, 0.5);
	-webkit-transform: scale(0.5, 0.5);
	transform: scale(0.5, 0.5);
	-webkit-animation: moveclouds 36s linear infinite;
	-moz-animation: moveclouds 36s linear infinite;
	-o-animation: moveclouds 36s linear infinite;
}
.cloud.s5{
	left: -38em;
	top: -6em;
	-moz-transform: scale(0.3, 0.3);
	-ms-transform: scale(0.3, 0.3);
	-webkit-transform: scale(0.3, 0.3);
	transform: scale(0.3, 0.3);
	-webkit-animation: moveclouds 10s linear infinite;
	-moz-animation moveclouds 10s linear infinite;
	-o-animation: moveclouds 10s linear infinte;
}

@-webkit-keyframes moveclouds{
	0%{
		margin-left: 125em;
	}
	100%{
		margin-left: -125em;
	}
}
@-moz-keyframes moveclouds{
	0%{
		margin-left: 125em;
	}
	100%{
		margin-left: -125em;
	}
}
@-o-keyframes moveclouds{
	0%{
		margin-left: 125em;
	}
	100%{
		margin-left: -125em;
	}
}


/*----------------------------------
	Airplain
----------------------------------*/
.airplane {
	position: absolute;
	left: 40%;
	top: 10%;
	z-index: 4;
	-webkit-animation: plainfly 30s linear infinite;
	-o-animation: plainfly 30s linear infinite;
	/* animation: plainfly 60s linear infinite; */
animation: plainfly 10s linear infinite;
}
.airplane div {
	background: #F9FBFC;
	border-radius: 100%;
	width: 60px;
	height: 60px;
	position: absolute;
	z-index: 3;
}
div.head  {
	top: 21px;
	left: 83px;
	width: 60px;
	height: 25px;
	border-radius: 100%;
}
div.body  {
	top: 20px;
	left: 0;
	width: 130px;
	height: 26px;
	border-radius: 40% 30% 20% 50%;
	z-index: 3

}
div.lwing {
	top: 7px;
	left: 60px;
	height: 21px;
	width: 30px;
	border-radius: 5px;
	z-index: 2 ;
	-webkit-transform: skew(51deg, 0deg);
	-ms-transform: skew(51deg, 0deg);
	-o-transform: skew(51deg, 0deg);
	transform: skew(51deg, 0deg);
}
div.rwing {
	top: 34px;
	left: 57px;
	height: 27px;
	width: 35px;
	border-radius: 5px;
	z-index: 5;
	box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.16);
	-webkit-transform: skew(-49deg, 0deg);
	-ms-transform: skew(-49deg, 0deg);
	-o-transform: skew(-49deg, 0deg);
	transform: skew(-49deg, 0deg);
}
div.tale  {
	top: 15px;
	left: 10px;
	width: 16px;
	height: 16px;
	border-radius: 1px;
	-webkit-transform: skew(35deg, -9deg);
	-ms-transform: skew(35deg, -9deg);
	-o-transform: skew(35deg, -9deg);
	transform: skew(35deg, -9deg);
	background: linear-gradient(0deg,#FFF, #BBDEFF);
}
div.window,
div.window:before,
div.window:after {
	content: "";
	top: 6px;
	left: 48px;
	width: 4px;
	height: 4px;
	border-radius: 30%;
	background: #9AD0F5;
	border: 1px solid #5093D1;
	position: absolute;
}
div.window:before {
	left: -12px;
	top: -1px;
}
div.window:after {
	left: 10px;
	top: -1px;
}
div.window:nth-child(1){
	left:81px
}
div.window:nth-child(2){
	left:115px
}
div.window:nth-child(2):after {
	border-top-right-radius: 8px;
	width: 6px;
}


/*----------------------------------
	Animation
----------------------------------*/
@-webkit-keyframes plainfly {
	0% {
		left: -10%;
		-webkit-transform: scale(.1);
		-ms-transform: scale(.1);
		-o-transform: scale(.1);
		transform: scale(.1);
	}
	50% {
		left: 110%;
		-webkit-transform: scale(1);
		-ms-transform: scale(1);
		-o-transform: scale(1);
		transform: scale(1);
	}
	51% {
		-webkit-transform: rotateY(180deg);
		-webkit-transform: rotateY(180deg);
		-ms-transform: rotateY(180deg);
		-o-transform: rotateY(180deg);
		transform: rotateY(180deg);
	}
	100% {
		left: -10%;
		-webkit-transform: scale(1.4) rotateY(180deg);
		-ms-transform: scale(1.4) rotateY(180deg);
		-o-transform: scale(1.4) rotateY(180deg);
		transform: scale(1.4) rotateY(180deg);
	}
}
